asgiref==3.11.1
black==24.4.2
cfgv==3.4.0
click==8.1.8
distlib==0.4.0
dj-database-url==3.0.1
Django==4.2.29
django-colorfield==0.14.0
django-cors-headers==4.9.0
django-timezone-field==7.2.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.19.1
gunicorn==23.0.0
identify==2.6.15
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.1
pathspec==1.0.4
pillow==11.3.0
platformdirs==4.4.0
pre-commit==3.7.1
psycopg[binary]==3.2.13
PyJWT==2.12.1
python-discovery==1.2.2
PyYAML==6.0.3
ruff==0.4.4
sqlparse==0.5.5
tomli==2.4.1
typing_extensions==4.15.0
virtualenv==21.2.4
whitenoise==6.11.0
